# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# DotEnv configuration
.env

# Database
*.db
*.rdb

# Pycharm
.idea

# VS Code
.vscode/

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude data from source control by default
io/

# Mac OS-specific storage files
.DS_Store

# vim
*.swp
*.swo

# Mypy cache
.mypy_cache/

.gitignore

# History files
.history
notebooks/exploratory/matTest/SO_Argo_all.mat
notebooks/exploratory/GMMUK2Class2_Meta_Updated_31
notebooks/exploratory/GMM_UK_2Class_R1_Meta
notebooks/exploratory/GMM_UK_2Class_R1_Meta_Full
notebooks/exploratory/GMM_UK_2Class_R2_Meta
notebooks/exploratory/GMM_UK_2Class_R2_Meta_Full
notebooks/exploratory/GMM_UK_2Class_R3_Meta
notebooks/exploratory/GMM_UK_2Class_R3_Meta_Full
notebooks/exploratory/GMM_UK_2Class_R3_v2_Meta
notebooks/exploratory/GMM_UK_2Class_R3_v2_Meta_Full
